{% extends 'base.html.twig' %}

{% block title %}Entreprise {{ entreprise.nom }}{% endblock %}

{% block body %}
    <div class='container'>
    <div class='jumbotron text-center'>

        <h1>UFA du Hainaut</h1>
        <h2>{{ entreprise.nom | upper }}</h2>
    </div>
    <div class="container">
        <table>
            <tr>
                <td colspan="2"><strong>{{ entreprise.nom | upper }}</strong></td>
            </tr>
            <tr>
                <td rowspan="2">adresse :</td>
                <td>{{ entreprise.adresse1 }}</td>
            </tr>
            <tr>
                <td>{{ entreprise.adresse2 }}</td>
            </tr>
            <tr>
                <td>Code postal :</td>
                <td>{{ entreprise.codePostal }}</td>
            </tr>
            <tr>
                <td>Ville</td>
                <td>{{ entreprise.ville }}</td>
            </tr>
        </table>

    </div>
{% endblock %}